apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: insta
  labels:
    role: backend
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: backend
  template:
    metadata:
      labels:
        role: backend
    spec:
      containers:
        - name: backend
          image: 050305920682.dkr.ecr.ap-south-1.amazonaws.com/insta-backend:35
          imagePullPolicy: Always
          ports:
            - containerPort: 4000