apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: insta
  labels:
    role: frontend
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec:
      containers:
        - name: frontend
          image: 050305920682.dkr.ecr.ap-south-1.amazonaws.com/insta-frontend:35
          imagePullPolicy: Always
      tolerations:
        - key: "rak"
          operator: "Equal"
          value: "poo"
          effect: "NoSchedule"
      ports:
          - containerPort: 80