apiVersion: v1
kind: Service
metadata:
  name: mongodb-svc
  namespace: insta
spec:
  ports:
    - port: 27017
  type: ClusterIP
  selector:
    app: mongodb
------
apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: insta
spec:
  clusterIP: None
  ports:
    - port: 27017
  selector:
    app: mongodb