apiVersion: v1
kind: Service
metadata:
  name: frontend-blue
  namespace: insta
spec:
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  type: LoadBalancer
  selector:
    app: frontend
    version: blue